:root {
    --dark: #23272a;
    --primary: #5865f2;
    --secondary: #ffffff;
    --tertiary: #b9bbbe;
    --background-light: #36393f;
    --background-dark: #202225;
}

* {
    font-family: "Open Sans";
}

body {
    background: var(--background-dark);
    color: var(--secondary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: initial;
    padding: 0;
    margin: 0;
}

#__next {
    width: 100%;
    height: 100%;
}
